@model BlogSingleton.Models.HomeIndexVM

<br /><div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-heading" style="text-align:center; font-weight:700; font-size:30px; padding-bottom: 0px;"><p>@Model.BlogPosts[0].Title</p>
        </div>
        <div style="font-weight:400; font-size:25px; padding-bottom: 0px;">@Model.BlogPosts[0].Post</div><br />
              @Model.BlogPosts[0].Date.ToShortDateString() <a class="btn btn-med btn-primary pull-right" href="/Home/EditBlogPost/@Model.BlogPosts[0].ID">Edit</a>
          </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="font-weight:700; font-size:large"><p>Comments:</p></div>
            @foreach (var comment in @Model.Comments)
            {
                <blockquote>
                    <strong>"@comment.Message"</strong><footer>
                    @comment.Name, @comment.Date.ToShortDateString()
                    <form method="post" action="/Home/DeleteComment/@comment.CommentID/">
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger pull-right" /><br />
                    </form>
                    </footer>
                </blockquote>
            }
            <br /><a class="btn btn-med btn-success pull-right" href="/Home/AddComment/@Model.BlogPosts[0].ID">Add Comment</a>
        </div>
    </div>


