@model BlogSingleton.Models.HomeIndexVM
<br /><div class="panel panel-default">
          <div class="panel-heading" style="text-align:center; font-weight:700; font-size:30px; padding-bottom: 0px;"><p>The Art of Manliness</p></div>
    <div class="panel-body">
        <div style="text-align:center; font-weight:400; font-size:25px; padding-bottom: 0px;"><p>Welcome to The Art of Manliness Blog! This blog will help you to become a man– whether it's upgrading your style, acting more like a gentleman and reviving chivalry, or fulfilling your animal side of loving to eat food and finding the best places to eat! Enjoy! And Stay Classy!</p>
            <img style="height:150px; width:550px; padding-bottom:10px;" src="http://stonewaterchurch.com/wp-content/uploads/2013/06/thumb_art_manliness.jpg"><br /><a style="color:#c8c8c8; padding-left:100px; padding-right:100px;" class="btn btn-default" href="/Home/Blog/"><strong>Man Up</strong></a>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center; font-weight:700; font-size:large; padding-bottom: 0px;"><p>Featured Post</p></div>
            <div class="panel-body">
                <table class="table table-condensed table-striped table-responsive table-hover">
                    <tr onclick="location.href='/Home/BlogPost/@Model.FeaturedPost.ID'">
                        <td>@Model.FeaturedPost.Title</td>
                    </tr> 
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center; font-weight:700; font-size:large; padding-bottom: 0px;"><p>Recent Blog Entries</p></div>
            <div class="panel-body">
                <table class="table table-condensed table-striped table-responsive table-hover">
                    <tr><th>Date</th><th>Title</th><th></th></tr>
                    @foreach (var post in Model.BlogPosts)
                    {
                        <tr onclick="location.href='/Home/BlogPost/@post.ID'">
                            <td>@post.Date.ToShortDateString()</td>
                            <td>@post.Title</td>
                            @if (@post.Post.Length >= 50)
                            {
                            <td>@post.Post.Substring(0, 50) ...</td>
                                
                            }
                            else
                            {
                                <td>@post.Post.Substring(0, post.Post.Length) ...</td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
